.App {
  text-align: center;
  margin: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  margin-bottom: 20px;
}

// .app-text{
//     font-size: 18px;
// }

.app-container{
    // display: flex;
    // flex-direction: row;
    // background-color: red;
    // height: 100vh;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
}

// .navigation-link{
//     font-size: 18px;
//     text-align: center;
//     font-weight: 700;
// }

// .navbar{
//     color: red;
//     display: flex;
//     flex-direction: column;
// }

.app-text{
    font-size: 18px;
}

.counter-text{
  font-size: 10rem;
  font-weight: 600;
  color: #021f5a;
  // align-items: center;
}
.layout-container{
  text-align: center;
}

.hook-title{
  font-size: 27px;
  font-weight: 600;
  color: blue;
}

.hook-button{
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 18px;
  font-weight: 700;
}
